@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

#LandingPage {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ImgContainer {
  display: flex;
  margin-top: 8vh;
}
.mainImg {
  display: flex;
  align-items: center;
  height: 50vh;
}
.TextContainer {
  display: flex;
}
.mainText {
  display: flex;
  align-items: center;
  font-size: 5.5rem;
  font-weight: 600;
  font-family: "Jua", sans-serif;
}
.buttonContainer {
  display: flex;
}
.GoButton {
  width: 40vw;
  height: 5.5vh;
  min-width: 500px;
  margin-bottom: 150px;

  border-radius: 8px 8px 8px 8px;
  border: none;
  outline: 0;
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
